<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CaseStudy2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="myconn" connectionString="Data Source=INHYTCPC08240\SQLEXPRESS;Initial Catalog=casestudy2;User Id=sa;Password=satyam123$" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="true">  </sessionState>
  </system.web>
  <applicationSettings>
    <CaseStudy2.Properties.Settings>
      <setting name="CaseStudy2_localhost_WebService1" serializeAs="String">
        <value>http://localhost:60007/WebService1.asmx</value>
      </setting>
    </CaseStudy2.Properties.Settings>
  </applicationSettings>
</configuration>